<h1>Restaurant Index Page</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%=link_to(restaurant) do %>
        <%= restaurant.name %>
        <% if current_user && current_user.admin %>
          <%= link_to 'Delete', restaurant, :method => 'delete', class: "alert tiny button", data: { confirm: 'Are you sure?' } %>
        <% end %>
      <%end%>
    </li>
    <% end %>
  <%= link_to 'Add Restaurant', new_restaurant_path %>
</ul>
