<p>This is the Show page for <%=@restaurant.name%> with test data to see if it properly connects to categories </p>

<h5>Categories if present</h5>
<ul>
    <%@restaurant.categories.each do |category|%>
        <li><%=category.name%></li>
    <%end%>
</ul>