// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import 'foundation/functions';
@import "foundation/components/grid";
$height-of-buffer: rem-calc(70);

.title {
  font-family: 'Permanent Marker', cursive;
}

a {
  color: black;
}

button {
  margin: 5px;
  background-color: #efbc04;
}

#hero{
  height: 100vh;
  display:flex;
  min-width: 100%;
  background: image-url("hero-image-slogan-web.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.restaurant{
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.2), -5px 5px 10px rgba(0,0,0, 0.2);
  padding: 20px;
  // margin: 40px;
  background: white;
  overflow: hidden;
  width: 500px;
  height: 600px;
}

.restaurants{
  box-shadow: -5px -5px 10px rgba(0,0,0, 0.8);
  padding: 20px;
  background: white;
}

.top-buffer{
  height: $height-of-buffer;
}

body, label {
  font-family: 'Roboto', sans-serif;
  background-color: #e8e8e8;
  font-size: 20px;
}

.top-bar {
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.2), -5px 5px 10px rgba(0,0,0, 0.5);
}

.restaurant-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 400px;
  width: 100%;
}

.featured {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

.panel {
  border-radius: 10px;
}

.roboto{
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
}

.flash-bar {
  background-color: #efbc04;
  padding: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}
