// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation/functions';
$height-of-buffer: rem-calc(70);
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}
body{
  
}
button {
  margin: 5px;
}


.top-bar-section li:not(.has-form) a:not(.button), .top-bar .name h1 a, .top-bar{
  background: white;
  color: black;
  font-family: 'Permanent Marker', cursive;
}
.top-bar-section li:not(.has-form) a:not(.button){

}

#hero{
  height: 100vh;
  display:flex;
  min-width: 100%;
  background: image-url("hero-image-slogan-web.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.restaurants{
  box-shadow: -5px -5px 10px rgba(0,0,0, 0.8);
  padding: 20px;
  background: white;
  
}
.parent-row{
  min-width:100%;
}
.restaurant{
  height: 300px;
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.8), -5px 5px 10px rgba(0,0,0, 0.8);
  margin-bottom: 10px;
}
.top-buffer{
  height: $height-of-buffer;
}