// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import 'foundation/functions';
@import "foundation/components/grid";
$height-of-buffer: rem-calc(70);

.title {
  font-family: 'Permanent Marker', cursive;
}

a {
  color: black;
}

button {
  margin: 5px;
  background-color: #efbc04;
}

#hero{
  height: 100vh;
  display:flex;
  min-width: 100%;
  background: image-url("hero-image-slogan-web.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.restaurant{
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.2), -5px 5px 10px rgba(0,0,0, 0.2);
  padding: 20px;
  // margin: 40px;
  background: white;
  overflow: hidden;
  width: 500px;
  height: 600px;
}

.restaurants{
  box-shadow: -5px -5px 10px rgba(0,0,0, 0.8);
  padding: 20px;
  background: white;
}

.top-buffer{
  height: $height-of-buffer;
}

body, label {
  font-family: 'Roboto', sans-serif;
  background-color: #e8e8e8;
  font-size: 20px;
}

.top-bar {
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.2), -5px 5px 10px rgba(0,0,0, 0.5);
}

.restaurant-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 400px;
  width: 100%;
}

.featured {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

.panel {
  border-radius: 10px;
}

.roboto{
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
}

.flash-bar {
  background-color: #efbc04;
  padding: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}

.vote-button{
  border-top: 1px solid #969696;
  // background: #000000;
  // background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#000000));
  // background: -webkit-linear-gradient(top, #545454, #000000);
  // background: -moz-linear-gradient(top, #545454, #000000);
  // background: -ms-linear-gradient(top, #545454, #000000);
  // background: -o-linear-gradient(top, #545454, #000000);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #000000 !important;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  width: 150px;
}
.vote-button:hover {
  border-top-color: #4f4f4f;
  background: #4f4f4f;
  color: #ccc;
  text-decoration:none;
}
.vote-button:active {
  border-top-color: #4a4a4a;
  background: #4a4a4a;
}


.vote-button-voted {
  color: #ffffff!important;
}
